@media (max-width:1450px) {
    .container {
        max-width: 1300px;
    }
}
@media (max-width:1190px) {
    .container {
        padding: 0 10px;
        max-width: 980px;
    }

    .inner-cart {
        width: 826px;
    }

    h2 {
        font-size: 28px;
    }

    .inner-cart p,
    h2 {
        width: unset;
    }

    .inner-box {
        bottom: -168px;
    }

    .qaqa {
        top: 185px;
    }

    .box2 img {
        padding: unset;
    }

    .far {
        margin-top: 10px;
    }

    .box2 input {
        width: 260px;
    }
    .box2 button {
        padding: 21px 61px;
    }
    .bottom-bar .col-4{
        padding: unset;
    }
}

@media (max-width :900px) {
    .container {
        padding: 0px 20px;
        max-width: 933px;
    }
    .inner-cart {
        width: 679px;
    }
    .inner-cart p {
        font-size: 16px;
    }
    h3 {
        font-size: 16px
    }
    .box img {
        object-fit: unset;
    }
    .qaqa {
        top: 138px;
    }
    .box2 h6 {
        width: 205px;
    }
    .fiend {
        gap: 15px;
    }
    .box2 input {
        width: 220px;
    }
    .box2 button {
        padding: 21px 41px;
    }
}